  
<li>
  {{#unless devoured}}
    {{burgerName}}
    <button type="button" data-id="{{id}}" class="devourBtns">Devour!</button>
  {{else}}
    <span class="devoured">{{burgerName}}</span>
  {{/unless}}
</li>